@using Shawsoft.Razor.UI.Enums

<div class="max-w-7xl p-2 mb-10 @BackgroundColor">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-5 w-5 @IconColor" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                @IconPath
            </svg>
        </div>
        <div class="ml-3">
            <h3 class="text-sm font-medium @TitleColor">@Title</h3>
            <div class="mt-2 text-sm @MessageColor">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public AlertType Type { get; set; }

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string BackgroundColor => Type switch
    {
        AlertType.Success => "bg-green-50",
        AlertType.Warning => "bg-yellow-50",
        AlertType.Error => "bg-red-50",
        _ => "bg-gray-50"
    };


    private string IconColor => Type switch
    {
        AlertType.Success => "text-green-400",
        AlertType.Warning => "text-yellow-400",
        AlertType.Error => "text-red-400",
        _ => "text-gray-400"
    };


    private string TitleColor => Type switch
    {
        AlertType.Success => "text-green-800",
        AlertType.Warning => "text-yellow-800",
        AlertType.Error => "text-red-800",
        _ => "text-gray-800"
    };


    private string MessageColor => Type switch
    {
        AlertType.Success => "text-green-700",
        AlertType.Warning => "text-yellow-700",
        AlertType.Error => "text-red-700",
        _ => "text-gray-700"
    };


    private RenderFragment IconPath => Type switch
    {
        AlertType.Success => @<path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />,
        AlertType.Warning => @<path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />,
        AlertType.Error => @<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />,
        _ => @<path d="M10 18a8 8 0 100-16 8 8 0 000 16z" />
    };
}